*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(135deg,#ffd6e8,#ffc0cb,#ffe6f0);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:100%;

display:flex;

justify-content:center;

}

.card{

background:white;

width:420px;

padding:40px;

border-radius:25px;

box-shadow:0 15px 35px rgba(0,0,0,.2);

text-align:center;

animation:fade .8s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

h1{

color:#ff4d94;

margin-bottom:10px;

}

.subtitle{

margin-bottom:25px;

color:#666;

}

input,select{

width:100%;

padding:14px;

margin:10px 0;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;

}

button{

width:100%;

padding:15px;

background:#ff4d94;

border:none;

border-radius:15px;

font-size:18px;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#ff1a75;

transform:scale(1.03);

}
/* Dashboard */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#ff4d94;

color:white;

}

.navbar ul{

display:flex;

gap:20px;

list-style:none;

}

.dashboard{

padding:40px;

text-align:center;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-top:40px;

}

.card-box{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.3s;

}

.card-box:hover{

transform:translateY(-10px);

}

.card-box button{

margin-top:15px;

}